/* Reset y configuración básica */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f9fa;
}

header {
    background: rgb(230,170,109);
    background: linear-gradient(0deg, rgba(230,170,109,1) 0%, rgba(100,171,232,1) 100%);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-shadow: #0056b3;
}

header img {
    max-width: 120px;
    height: auto;
    margin-right: 10px;
}

header h1, header p {
    margin: 0;
}

/* Dropdown */
.group:hover .group-hover\\:block {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Otros estilos */
footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin: 0 5px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

section {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

section h2, section h3, section h4 {
    margin-bottom: 10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: calc(50% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.categorias-lista {
    list-style-type: none;
    padding: 0;
}

.categorias-lista li {
    margin-bottom: 5px;
}

.categorias-lista a {
    text-decoration: none;
    color: #007bff;
}

.categorias-lista a:hover {
    text-decoration: underline;
    color: #0056b3;
}

/* Estilos para el formulario de inicio de sesión */
.input-field {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.btn-primary {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.error {
    color: red;
}


/* Estilos carrousel */
.swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 64px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
    }
    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #4F46E5 !important;
    }